---
layout: base.njk
permalink: /
---
{% set pages = [
    "banner",
    "description",
    "assets",
    "gallery",
    "datasheet",
    "testimonials",
    "contact"
] %}
{% for page in pages %}
    {% include page + ".njk" %}
{% endfor %}