{% from "macros.njk" import title %}
<div class="section" id="assets">
    <div class="container">
        {{ title("Aqui, a vida te convida a viver bem em todos os sentidos!") }}
        <div class="assets">
            {% for item in assets %}
            <dl>
                <dt>{{ item.title }}</dt>
                <dd>{{ item.description }}</dd>
            </dl>
            {% endfor %}
        </div>
    </div>
</div>