<div id="section-assets">
    <div id="assets">
        <div class="title">Aqui, a vida te convida a viver bem em todos os sentidos!</div>
        <div class="assets">
            <dl>
                <dt>{{ '/icons/icone1.svg' | svgContents | safe }} Barra de Mangaraí, Santa Leopoldina/ES</dt>
                <dd>A menos de 1 hora das principais cidades da região metropolitana de Vitória.</dd>
            </dl>
            <dl>
                <dt>{{ '/icons/icone2.svg' | svgContents | safe }} Alto Padrão</dt>
                <dd>Condomínio de alto padrão, integrando perfeitamente agro, gastronomia e lazer</dd>
            </dl>
            <dl>
                <dt>{{ '/icons/icone3.svg' | svgContents | safe }} Área</dt>
                <dd>O condomínio possui mais de 900.000 m² de área</dd>
            </dl>
            <dl>
                <dt>{{ '/icons/icone4.svg' | svgContents | safe }} Área de preservação</dt>
                <dd>5 lagos, 2 praças de contemplação, 3.5 km de trilha ecológicas</dd>
            </dl>
        </div>
    </div>
</div>