<div id="section-banner">
    <div id="banner">
        <div class="title">Condomínio Fazenda Barão do Império</div>
        <div class="subtitle">O primeiro condomínio com o conceito Agrogastronômico & Lazer do Brasil!</div>
        <div class="newsletter">
            {% include "newsletter.njk" %}
        </div>
    </div>
</div>