{% from "macros.njk" import newsletter %}
<div class="section" id="banner">
    <div class="container">
        <div class="main-title"><span>Condomínio Fazenda Barão do Império</span><br />O primeiro condomínio com o conceito Agrogastronômico & Lazer do Brasil!</div>
        <!-- {{ newsletter("<span>Cadastre-se e saiba mais</span><br />Um dos nossos corretores...") }} -->
    </div>
</div>