---
title: Barão do Império - VAZ
---
{% from "newsletter.njk" import newsletter %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" dir="ltr" lang="pt-br">
    <head>
        <!-- Meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!-- Scripts-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Styles-->
        <link rel="stylesheet" href="stylesheets/styles.css?timestamp={{ timestamp }}" preload />
        <!-- Browser-->
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="section-header">
            <div id="top-bar">
                <div id="menu">
                    <ul>
                        <li><a href="#">Portal do Cliente</a></li>
                        <li><a href="#">Portal do Corretor</a></li>
                    </ul>
                </div>
                {% set search = "Digite seu e-mail" %}
                <div id="search">
                    <form action="#">
                        <dl>
                            <dt><label for="search">{{ search }}</label></dt>
                            <dd><input type="text" name="search" placeholder="{{ search }}" /></dd>
                        </dl>
                        <input type="submit" value="Enviar" />
                    </form>
                </div>
                <div id="social-network">
                    <ul>
                        {% for item in socialNetworks %}
                            <li><a href="{{ item.link }}">{{ item.vendor }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="header">
                <div class="logo">
                    <a href="/">{{ '/icons/logo.svg' | svgContents | safe }}</a>
                </div>
                {% set menu = [
                    { slug: 'home', title: 'Home' },
                    { slug: 'about', title: 'Sobre a Vaz' },
                    { slug: 'datasheet', title: 'Ficha Técnica' },
                    { slug: 'contact', title: 'Contato' }
                ] %}
                <div class="menu">
                    <ul>
                        {% for item in menu %}
                            <li><a href="#section-{{ item.slug }}">{{ item.title  }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="schedule-a-visit">
                    <a href="#">Agende uma visita!</a>
                </div>
                <div class="contact-the-realtor">
                    <a href="#">Fale com um corretor</a>
                </div>
            </div>
        </div>
        {{ content | safe }}
        <div id="section-bottom">
            <div id="bottom">
                <div class="logo">
                    {{ '/icons/logo.svg' | svgContents | safe }}
                </div>
                {{ newsletter("Receba em primeira mão as novidades e lançamentos da VAZ Empreendimentos") }}
                <div class="copyright">© 2021 Vaz Desenvolvimento | Todos os direitos reservados - Política de privacidade</div>
                <div class="addresses">
                    <p>ESPIRITO SANTO: Rua Alberto de Oliveira Santos, 40 Ed. Pres. Kennedy, sl 21 a 23, Centro, Vitória | Cep 29010-250. Tel: (27)2142-8886</p>
                    <p>MATO GROSSO: Rod MT, quadra 21, lote 1, sala 5, Novo Diamantino, Diamantino | Cep 78402-000. Tel: (65)3337-1058</p>
                    <p>RONDÔNIA: Rua Gonçalves dias, 140 – Centro, Vilhena | Cep 76980-006. Tel: (69)3321-4343</p>
                </div>
            </div>
        </div>
        <div id="section-footer">
            <div id="footer">
                {{ newsletter("Receba novidade do empreendimento:") }}
            </div>
        </div>
    </body>
</html>