<div id="section-characteristics">
    <div id="characteristics">
        <div class="title">Pertinho de você!</div>
        <div class="characteristics">
            <dl>
                <dt>15 min.</dt>
                <dd>Cariacica Sede</dd>
            </dl>
            <dl>
                <dt>45 min.</dt>
                <dd>Shopping Vitória</dd>
            </dl>
            <dl>
                <dt>50 min.</dt>
                <dd>Serra - Centro</dd>
            </dl>
            <dl>
                <dt>52 min.</dt>
                <dd>Shopping Boulevard</dd>
            </dl>
            <dl>
                <dt>56 min.</dt>
                <dd>Shopping Vila Velha</dd>
            </dl>
        </div>
    </div>
</div>