{% from "macros.njk" import title %}
<div class="section" id="characteristics">
    <div class="container">
        {{ title("Pertinho de você!") }}
        <div class="characteristics">
            {% for item in assets %}
            <dl>
                <dt>{{ item.title }}</dt>
                <dd>{{ item.description }}</dd>
            </dl>
            {% endfor %}
        </div>
    </div>
</div>