{% from "macros.njk" import title %}
<div class="section" id="contact">
    <div class="container">
        {{ title("Contato") }}
        <div class="contact">
            <div class="map">
                <div class="map-tab">
                    <ul>
                        <li class="active">Localização</li>
                        <li>Imagem aérea</li>
                    </ul>
                </div>
                <div class="map-content">
                    <ul>
                        <li class="active"></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="info">
                <div class="phone">27 4042-0809</div>
                <div class="email">fazendabaraodoimperio@vazdesenvolvimento.com.br</div>
            </div>
        </div>
    </div>
</div>