{% from "macros.njk" import title %}
<div class="section" id="datasheet">
    <div class="container">
        {{ title("Ficha Técnica") }}
        <div class="datasheet">
            <ul>
                {% for item in datasheet %}
                <li><span>{{item}}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>