<div id="section-datasheet">
    <div id="datasheet">
        <div class="title">Ficha Técnica</div>
        <div class="datasheet">
            <h2>Dados técnicos</h2>
            <ul>
                {% for item in datasheet %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>