<div id="section-description">
    <div id="description">
        <div class="photo"><img src="" /></div>
        <div class="description">
            <h2>Primeiro e único empreendimento com o conceito Agrogastronômico no Brasil!</h2>
            <p>Integração do agro com a gastronomia e o lazer vai proporcionar às famílias viverem mais saudáveis e felizes, a começar pela qualidade dos hortifrútis e de produtos diferenciados como queijos especiais, mel, peixes e ovos caipiras produzidos com qualidade superior, especialmente para o consumo dos seus proprietários.</p>
            <p>Além do cenário incrível, da fazenda para produção de alimentos saudáveis para o consumo, o condomínio ainda vai contar com uma estrutura fantástica de lazer com piscina com borda infinita, dois espaços gourmets tematizados, sendo um deles com micro cervejaria artesanal, onde você vai poder fazer sua própria cerveja, spa e praça esportiva.</p>
            <p>O condomínio Fazenda Barão do Império te chama e te espera para, cercado de tudo o que é bom e de tudo o que ama, construir um novo mundo!</p>
        </div>
    </div>
</div>