{% from "macros.njk" import title, gallery %}
<div class="section" id="gallery">
    <div class="container">
        {{ title("Condomínio Fazenda Barão do Império: Book Digital") }}
        <div class="gallery">
            <ul class="cycle-slideshow"
            data-cycle-slides="li"
            data-cycle-timeout="0"
            data-cycle-pager=".gallery-pager"
            data-cycle-next=".gallery .fa-angle-right"
            data-cycle-prev=".gallery .fa-angle-left">
                {{ gallery("gallery", [1280]) }}
            </ul>
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="gallery-pager">
            <img class="leaf-left" src="/fazenda-barao-do-imperio/pictures/gallery/leaf-left.png" />
            <img class="leaf-right" src="/fazenda-barao-do-imperio/pictures/gallery/leaf-right.png" />
        </div>
    </div>
</div>