{% macro newsletter(text) %}
<div class="newsletter">
    <form action="#" id="barao-do-imperio">
        <fieldset>
            <legend>{{ text | safe }}</legend>
            {% set newsletter = [
                { name: 'name', label: 'Nome' },
                { name: 'phone', label: 'Telefone' },
                { name: 'email', label: 'E-mail' }
            ] %}
            {% for item in newsletter %}
            <dl>
                <dt><label for="{{ item.name }}">{{ item.label }}</label></dt>
                <dd><input type="text" placeholder="{{ item.label }}" name="{{ item.name }}" /></dd>
            </dl>
            {% endfor %}
            <input type="submit" value="Enviar" />
        </fieldset>
    </form>
</div>
{% endmacro %}

{% macro title(text) %}
<div class="title">
    {{ '/icons/title-left.svg' | svgContents | safe }}
    <span>{{ text | safe }}</span>
    {{ '/icons/title-right.svg' | svgContents | safe }}
</div>
{% endmacro %}

{% macro resource(title, list) %}
<dl>
    <dt>{{ title | safe }}</dt>
    <dd>
        <ul>
            {% for item in list %}
            <li><span>{{item}}</span></li>
            {% endfor %}
        </ul>
    </dd>
</dl>
{% endmacro %}

{% macro gallery(path, size) %}
    {% for file in list(path) %}
    <li>{% image "./" + path + "/" + file, "", size %}</li>
    {% endfor %}
{% endmacro %}