{% from "macros.njk" import title %}
<div class="section" id="testimonials">
    <div class="container">
        {{ title("Quem garante o empreendimento") }}
        <div class="single">
            <div class="picture"><img src="./images/douglas-vaz.jpg" /></div>
            <div class="description">
                <p>Douglas Vaz, CEO e Founder da Vaz Desenvolvimento Imobiliário, idealizador dos empreendimentos Boulevard Mar Dul'é e Boulevard Lagoa quando à frente da Cristal Empreendimentos Imobiliários, diretor do Sinduscon por 3 mantados (atualmente Presidente do órgão), participante da diretoria do SINDIMOVEIS, do conselho do CRECI e delegado da AELO, foi buscar renomados profissionais do mercado imobiliário nacional para, juntos, desenvolverem o Condomínio Fazenda Barão do Império, um produto inovador, destinado à segunda moradia e que contempla uma excepcional qualidade de vida para as pessoas mais exigentes, preservando toda a exuberância dos recursos naturais da região de Santa Leopoldina, cidade espetacular em meio às montanhas capixabas.</p>
                <p><strong>"Quando desenvolvemos um produto imobiliário, antes de lança-lo ao mercado me pergunto: eu compo este produto? Se eu não comprar, eu não vendo!"</strong></p>
            </div>
            <div class="author">Douglas Vaz <br /><span>CEO</span></div>
        </div>
    </div>
</div>