{% from "macros.njk" import title %}
<div class="section" id="testimonials">
    <div class="container">
        {{ title("Clientes que nos garantem") }}
        <div class="testimonials">
            <ul>
                {% for testimonial in testimonials %}
                <li>
                    <div class="picture"><img src="{{ testimonial.picture }}" /></div>
                    <div class="description">{{ testimonial.description }}</div>
                    <div class="author">{{ testimonial.author }} <span>{{ testimonial.position }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>