div#assets {
    div.container {
        padding-bottom: 50px;

        background: no-repeat left bottom/730px;
        div.assets {
            @include right(485px);

            padding-top: 35px;
            margin-right: 20px;
            dl {
                width: 215px;
                padding-top: 70px;

                background-repeat: no-repeat;
                background-position: top center;
                background-size: 70px;
                dt {
                    padding: 10px 0;

                    color: $yellow;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 24px;
                    text-align: center;
                    svg {
                        width: 75px;
                    }
                }
                dd {
                    font-size: 15px;
                    line-height: 23px;
                }
                dt,
                dd {
                    text-align: center;
                }
                &:nth-child(odd) {
                    float: left;
                    clear: left;
                }
                &:nth-child(even) {
                    float: right;
                }
                &:first-child {
                    margin-bottom: 50px;
                }
            }
        }
    }
}