div#bottom {
    padding-bottom: 53px;

    background-color: $lightgrey;
    div.container {
        min-height: auto;
        padding: 50px 0;
        div.logo {
            @include left(320px);
            svg {
                @extend %clear;
            }
        }
        div.newsletter {
            @include right(830px);
            form {
                padding: 0;
                fieldset {
                    margin: 0;
                    legend {
                        color: $grey;
                        font-size: 19px;
                    }
                    dl {
                        @include left(200px);

                        margin: 0;
                        dd {
                            input {
                                float: left;
                                height: 55px;

                                font-size: 17px;

                                background-clip: padding-box;
                                background-repeat: no-repeat;
                                background-position-x: 0;
                                background-position-y: 0;
                                background-origin: padding-box;
                                box-shadow: 0 3px 6px #{$black}#{$thirty};
                                border: 0;
                                border-radius: 31px;
                            }
                        }
                        &:nth-child(2) {
                            width: 405px;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(4) {
                            width: 275px;
                            margin-left: 18px;
                        }
                    }
                    > input {
                        height: 55px;
                        margin: 0 0 0 12px;

                        font-size: 17px;

                        background-color: $red;
                        border-radius: 31px;
                    }
                }
            }
        }
        div.copyright,
        div.addresses {
            @include right(calc(100% - 320px));
        }
        div.copyright {
            font-size: 13px;
            text-align: center;
        }
        div.addresses {
            margin-top: 29px;

            font-size: 12px;
            line-height: 23px;
            text-align: center;
        }
    }
}