div#contact {
    padding: 100px 0;
    div.container {
        div.map {
            @include left(50%);
            div.map-tab {
                ul {
                    li {
                        @include left(50%);

                        list-style: none;
                        a {
                            padding: 10px 15px;

                            color: $green;
                            font-size: 17px;
                            text-decoration: none;

                            background-color: $lightgrey;
                        }
                        &.active {
                            a {
                                color: $lightgrey;

                                background-color: $green;
                            }
                        }
                        &:first-child a {
                            float: right;
                            margin-right: 5px;
                        }
                        &:last-child a {
                            float: left;
                            margin-left: 5px;
                        }
                    }
                }
            }
            div.map-content {
                @extend %clear;

                height: 100px;
                ul {
                    li {
                        @extend %clear;

                        display: none;
                        height: 400px;

                        list-style: none;
                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
        div.contact {
            @include right(45%);

            padding-top: 42px;
            div.title {
                padding: 0;
            }
            div.info {
                height: 25px;
                padding-top: 150px;

                font-size: 13px;
                line-height: 25px;
                div {
                    text-indent: 65px;
                    &.phone {
                        margin-bottom: 15px;

                        font-size: 27px;
                    }
                    &.email {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}