div#datasheet {
    padding-bottom: 50px;

    box-shadow: 0 0 20px 0 rgba(0,0,0,.6);
    div.container {
        div.cycle-slideshow {
            @extend %clear;

            overflow: hidden;
            > div {
                @extend %clear;
                dl {
                    float: left;
                    dt {
                        margin-bottom: 20px;

                        font-size: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                ul {
                    padding-left: 21px;
                    li {
                        color: $yellow;
                        font-size: 25px;
                        list-style-position: outside;
                        list-style-type: square;
                        span {
                            color: $grey;
                            font-size: 15px;
                        }
                    }
                }
                &.datasheet {
                    ul {
                        @include left(600px);
                    }
                    picture {
                        float: right;
                        img {
                            @extend %clear;
                        }
                    }
                }
                &.natural-assets {
                    ul.gallery {
                        @include right(515px);

                        padding: 0;
                        li {
                            float: left;
                            height: 186px;
                            overflow: hidden;

                            list-style: none;
                            picture {
                                float: left;
                                img {
                                    float: left;
                                }
                            }
                            &:nth-child(1) {
                                margin: 0 15px 15px 0;
                            }
                            &:nth-child(2) {
                                margin-bottom: 15px;
                            }
                            &:nth-child(3) {
                                margin-right: 15px;
                            }
                        }
                    }
                }
                &.resources {
                    dl {
                        width: 400px;
                        margin: 0 25px 30px 0;
                        dt {
                            text-align: center;
                        }
                        &:nth-child(3),
                        &:nth-child(5) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        div.datasheet-pager {
            @extend %clear;

            justify-content: center;

            display: flex;
            margin-top: 50px;
            i.fa {
                color: $green;
                font-size: 30px;
            }
            div.bullets {
                margin: 0 10px;

                font-size: 21px;
                line-height: 27px;
                span {
                    color: $lightgrey;
                    &.cycle-pager-active {
                        color: $green;
                    }
                }
            }
        }
    }
}