div#footer {
    position: fixed;
    bottom: 0;
    z-index: 999;

    height: 53px;
    padding: 0;

    background-color: $green;
    div.container {
        form {
            fieldset {
                align-items: center;
                justify-content: space-between;

                display: flex;
                margin-top: 0;
                legend {
                    width: unset;
                    margin: 0;
                }
                dl {
                    width: 265px;
                    margin: 0;
                    dd {
                        input {
                            margin: 0;
                        }
                    }
                }
                > input {
                    height: 32px;
                    margin: 0;

                    background-color: $darkgreen;
                    border-radius: 6px;
                }
            }
        }
    }
}