div#gallery {
    z-index: 998;
    background-color: #EDEFEE;
    padding-bottom: 30px;
    div.container {
        position: relative;
        div.gallery {
            float: left;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            height: 639px;
            position: relative;
            ul {
                float: left;
                width: 100%;
                position: relative;
                li {
                    top: 0;
                    left: 0;
                    width: 100%;
                    position: absolute;
                    list-style: none;
                    picture {
                        float: left;
                        width: 100%;
                        img {
                            float: left;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            i {
                position: absolute;
                z-index: 999;
                font-size: 200px;
                color: #FFF;
                opacity: 0.3;
                top: 50%;
                margin-top: -100px;
                &.fa-angle-left {
                    left: 30px;
                }
                &.fa-angle-right {
                    right: 30px;
                }
            }
        }
        div.gallery-pager {
            position: relative;
            float: left;
            width: 100%;
            text-align: center;
            padding-top: 20px;
            span {
                color: #CFCFCF;
                margin-right: 5px;
                &.cycle-pager-active {
                    color: #005629;
                }
            }
            img {
                position: absolute;
                z-index: 999;
                &.leaf-left {
                    width: 140px;
                    left: 70px;
                    bottom: -105px;
                }
                &.leaf-right {
                    width: 260px;
                    right: 0;
                    bottom: -90px;
                }
            }
        }
    }
}