div#gallery {
    z-index: 998;

    padding-bottom: 30px;

    background-color: $lightgrey;
    div.container {
        position: relative;
        div.gallery {
            @extend %clear;

            position: relative;

            height: 639px;
            overflow: hidden;

            border-radius: 15px;
            ul {
                @extend %clear;

                position: relative;
                li {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;

                    list-style: none;
                    picture {
                        @extend %clear;
                        img {
                            @extend %clear;

                            height: auto;
                        }
                    }
                }
            }
            i {
                position: absolute;
                top: 50%;
                z-index: 999;

                margin-top: -100px;

                color: $lightgrey;
                font-size: 200px;

                opacity: .3;
                &.fa-angle-left {
                    left: 30px;
                }
                &.fa-angle-right {
                    right: 30px;
                }
            }
        }
        div.gallery-pager {
            @extend %clear;

            position: relative;

            padding-top: 20px;

            text-align: center;
            span {
                margin-right: 5px;

                color: $lightgrey;
                &.cycle-pager-active {
                    color: $green;
                }
            }
            img {
                position: absolute;
                z-index: 999;
                &.leaf-left {
                    bottom: -45px;
                    left: 70px;

                    width: 140px;
                }
                &.leaf-right {
                    right: 0;
                    bottom: -90px;

                    width: 260px;
                }
            }
        }
    }
}