div#header {
    height: 110px;
    div#top-bar {
        @extend %clear;

        position: relative;
        z-index: 999;

        height: 37px;

        background-color: $darkgreen;
        div.container {
            align-items: center;
            flex-direction: row-reverse;

            display: flex;
            min-height: 37px;
            div {
                float: right;
            }
            div#menu {
                ul {
                    li {
                        float: left;
                        margin-right: 26px;

                        font-size: 12px;
                        list-style: none;
                        a {
                            color: $lightgrey;
                            text-decoration: none;
                        }
                    }
                }
            }
            div#social-network {
                ul {
                    li {
                        float: left;
                        margin-left: 8px;

                        list-style: none;
                        &:first-child {
                            margin: 0;
                        }
                        a {
                            float: left;
                            svg {
                                @include left(20px);

                                fill: $lightgrey;
                            }
                        }
                    }
                }
            }
        }
    }
    > div.container {
        div.logo {
            float: left;
            padding-top: 17px;
            a {
                svg {
                    width: 113px;
                }
            }
        }
        div.menu {
            float: left;
            margin-top: 28px;
            margin-left: 112px;
            ul {
                li {
                    float: left;
                    margin-right: 45px;

                    list-style: none;
                    a {
                        color: $black;
                        font-size: 15px;
                        text-decoration: none;
                    }
                }
            }
        }
        div.schedule-a-visit {
            @include right(196px);

            height: 73px;
            margin-right: 56px;
            a {
                @extend %clear;

                height: 44px;
                margin-top: 14px;

                color: $lightgrey;
                font-size: 16px;
                line-height: 40px;
                text-align: center;
                text-decoration: none;

                background: transparent linear-gradient(204deg, $darkgreen 0%, $green 100%) 0 0 no-repeat padding-box;
                box-shadow: 0 7px 6px #{$black}#{$thirty};
                border-radius: 19px;
            }
            form {
                @include left(400px);

                position: relative;
                top: 75px;
                z-index: 999;

                display: none;
                padding: 15px;
                margin-left: -115px;

                background-color: $green;
                fieldset {
                    @extend %clear;

                    padding-bottom: 15px;

                    background-color: $white;
                    border: 0;
                    border-radius: 5px;
                    > legend {
                        @extend %clear;

                        padding-top: 15px;

                        font-size: 17px;
                        text-align: center;
                        p {
                            justify-content: center;

                            display: flex;
                            margin-top: 10px;
                            svg {
                                width: calc(50% - 65px);
                            }
                        }
                    }
                    > dl {
                        @include left(calc(100% - 50px));

                        margin-top: 15px;
                        margin-left: 25px;
                        dt {
                            display: none;
                        }
                        dd {
                            input {
                                box-sizing: border-box;
                                width: 100%;
                                height: 32px;

                                font-size: 12px;
                                text-indent: 22px;

                                border: 1px solid #A7A7A7;
                            }
                        }
                    }
                    > input {
                        @include left(200px);

                        position: relative;
                        left: 50%;

                        height: 44px;
                        margin-top: 20px;
                        margin-left: -100px;

                        color: $lightgrey;
                        font-size: 16px;
                        line-height: 40px;
                        text-align: center;
                        text-decoration: none;

                        background: transparent linear-gradient(204deg, $darkgreen 0%, $green 100%) 0 0 no-repeat padding-box;
                        box-shadow: 0 7px 6px #{$black}#{$thirty};
                        border: 0;
                        border-radius: 19px;
                    }
                }
            }
        }
        div.contact-the-realtor {
            @include right(244px);

            height: 73px;

            line-height: 71px;
            text-align: center;

            background-color: $yellow;
            a {
                color: $white;
                font-size: 15px;
                text-decoration: none;
            }
        }
    }
}