div.newsletter {
    form {
        padding: 10px 20px;
        fieldset {
            margin-top: 18px;

            border: 0;
            legend {
                @extend %clear;

                margin-bottom: 20px;

                color: $lightgrey;
                font-size: 13px;
                text-align: center;
                span {
                    text-transform: uppercase;
                }
            }
            dl {
                @extend %clear;

                margin-bottom: 12px;
                dt {
                    display: none;
                }
                dd {
                    input {
                        box-sizing: border-box;
                        width: 100%;
                        height: 32px;

                        font-size: 12px;
                        text-indent: 22px;

                        border: 2px solid $grey;
                        border-radius: 6px;
                    }
                }
            }
            > input {
                width: 100px;
                height: 35px;
                margin-top: 15px;
                margin-left: 73px;

                color: $white;
                font-size: 14px;

                background-color: $yellow;
                border: 0;
                border-radius: 13px;
            }
        }
    }
}