@use 'sass:math';

/* Base Colors *******************************/
$white: #FFFFFF;
$green: #006B3F;
$darkgreen: #143524;
$yellow: #B88018;
$lightgrey: #EDEFEE;
$grey: #585858;
$red: #FF0A07;
$black: #000000;

/* Transparency *******************************/
$hundred: 'FF';
$ninety: 'E6';
$eighty: 'CC';
$seventy: 'B3';
$sixty: '99';
$fifty: '80';
$forty: '66';
$thirty: '4D';
$twenty: '33';
$ten: '1A';


/* Assets ************************************/
%clear {
    float: left;
    width: 100%;
}

/* Mixins ************************************/
@mixin centralize($width) {
    position: relative;
    left: 50%;

    width: $width;
    margin-left: -(math.div($width, 2));
}
@mixin left($width) {
    float: left;
    width: $width;
}
@mixin right($width) {
    float: right;
    width: $width;
}

/* Base Settings *****************************/
* {
    padding: 0;
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.section {
    @extend %clear;

    position: relative;
    div.container {
        @include centralize(1280px);

        position: relative;

        float: left;
        min-height: 500px;
        div.title {
            @extend %clear;

            align-items: center;
            justify-content: center;

            display: flex;
            padding: 70px 0;

            font-size: 18px;
            font-weight: bold;
            letter-spacing: -1px;
            svg {
                width: 175px;
                &:first-child {
                    padding-right: 10px;
                }
                &:last-child {
                    padding-left: 10px;
                }
            }
        }
    }
}

/* Includes ********************************/
@import 'header';
@import 'footer';
@import 'banner';
@import 'assets';
@import 'bottom';
@import 'gallery';
@import 'contact';
@import 'datasheet';
@import 'newsletter';
@import 'description.scss';
@import 'testimonials.scss';